<header class="site-header">
  <a href="index.html" class="wordmark">
    <img
      class="logo"
      src="assets/drink-time-photos/yaad-wine-with-leaves.svg"
      alt="YaadWine"
      width="150"
      height="150"
    />
  </a>
  <nav class="main-nav">
    <a href="about.html">Manifesto</a>
    <a href="cellar.html">Cellar</a>
    <a href="notebook.html">From YaadWine Crew!</a>
  </nav>
</header>
